
Package: modelo-pacote
Section: misc
Priority: optional
Version: 0.0.4
Architecture: all
Maintainer: Eli Florêncio Pereira
Depends: bash
Description: Descrição que aparece quando vc dá um apt-cache search

