Section: misc
Package: modelo-pacote
Priority: optional
Version: 0.0.2
Architecture: all
Maintainer: Eli Florêncio Pereira
Depends: bash
Description: Descrição que aparece quando vc dá um apt-cache search

